.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:lightgrey;
    color:  #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    width: fit-content;
  }
  
  .button:hover {
    background-color: #ccc;
  }
  
  .button:active {
    background-color: #999;
    color: #fff;
  }
  