.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc; 
}

.about {
    margin-bottom: 20px;
    padding: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.content {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 5px;
    padding: 50px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hours{
    margin-bottom: 20px;
}

.address{
    margin-bottom: 20px;
}


