.ls {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .ls h4 {
    margin-bottom: 10px;
  }
  